<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="PersonInfoManage.Properties.Settings.person_info_manageConnectionString"
      connectionString="Data Source=47.106.235.197;Initial Catalog=person_info_manage;User ID=SA;Password=qwer-123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>